.*
/old_slides/
export/
/data/
/textual/
/_extensions/
/practicals/data/
/practicals/fontawesome*
/practicals/tufontawesome*
/practicals/ufontawesome*
*.code-workspace
*.zip
*.gz
*.csv
*.svg
*.gpkg
*.parquet
*.quarto_ipynb
__pycache__
.Rproj.user
ffmpeg/content/
/.quarto/
/_all/
/_pracs/
/_site/
/_answers/
/_freeze/
/_export/
/docs/

/.luarc.json

**/*.quarto_ipynb
