/* https://fonts.google.com */
@font-face {
    font-family: Joan;
    src: url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
}

/* General */
.reveal-viewport {
    background: rgb(245,245,245)
}

h1, h2, h3, h4, p, span, div, tr, td, th, b, i, em, a {
    font-family: "Joan", serif;
}

tt, code {
    font-family: "JetBrains Mono", monospace;
}

/* Title Slide */
