
/*-- scss:defaults --*/

$navbar-bg: #48384a !default;
$secondary: #769670 !default;
$font-family-serif: "Joan", !default;
$font-family-base: $font-family-serif !default;

/*-- scss:rules --*/

// Variables

$txt-font-path: "https://fonts.googleapis.com/css2?family=Joan:wght@400;500;700&display=swap" !default;
@if $txt-font-path {
  @import url($txt-font-path);
}

/*-- scss:mixin --*/
$fade-casa : #bd8ea6;
$full-casa : #9e6b88;
$comp-casa : #6b9e9b;

a{
  color: $full-casa;
  text-decoration: none;

  &:visited{
    color: $full-casa;
    text-decoration: none;
    opacity: 0.7;
  }
  &:hover{
    color: $comp-casa;
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    color: $full-casa;
    opacity: 1;
    text-decoration: none;
  }
}